<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="pattern">[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p] [%t] %X{reqId} %l  %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <CustomPatternLayout>
                <Pattern>${pattern}</Pattern>
                <Replaces>
                    <Replace regex="(id_card_no|idCardNo|holderIdNo|holder_id_no|idNo|certId|idCard|holderidno|certID)(.*)(\d{3})\d{11,14}(\w{1}.*)" replacement="$1$2$3****$4" />
                </Replaces>
            </CustomPatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="me.catalpa.examples" level="debug" additivity="false" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>